#Header{
    width: 100%;
    height: 200px;
    border-bottom: 5px solid black;
}
#superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
#superior1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}
#superior1 div{
    padding-inline: 20px;
}
#superior1 img{
    width: 350px;
    height: auto;
    padding-left: 40px;
}
#superior2{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
}
#pesquisa{
    width: 600px;
    height: 50px;
    border-radius: 5px ;
    border: 5px solid transparent;
    font-size: 17px;
    background-color: #F5F5F5;
}
input{
    padding-left: 20px;
    color: #666666;
}
#cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
    align-items: center;
}
#cadastro p{
    color: #C92071;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}
#cadastro button{
    background-color: #C92071;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    width: 110px;
    height: 40px;
    cursor: pointer;
}
#cadastro button:hover{
    background-color:  #991956;
    width: 120px;
    height: 50px;
}
#superior2 img{
    width: 25px;
    height: auto;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}
#inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 45px;
    width:33%;
}
#inferior p{
    font-family: 'Inter', sans-serif;
    color: #C92071;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
}
#inferior p:hover{
    color: #666666;
    font-weight: bold;
    text-decoration: underline;
    
}