#footer{
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: black;
    
}
#superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#sup1{
    width: 40%;
    min-width: 300px;
}
#sup2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 60px;
    width: 60%;
}
#cardlogo{
    padding-left: 80px;
    padding-top: 20px
}
#cardlogo img{
    max-width: 280px;
    width: 100%;
    height: auto;
}
#cardlogo p{
    padding-top: 30px;
    padding-right: 100px;
    color: #FFFFFF;
    font-size: larger;
    text-align: justify;
    max-width: 440px;
    width: 100%;
}
#redessociais{
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-left: 80px ;
    padding-top: 40px;
}
#infogeral{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 80px;
    flex-wrap: wrap;
    width: 100%;
}
#infogeral h2{
    color: #FFFFFF;
}
#infogeral p{
    font-size: large;
    color: #FFFFFF;
    
}
#contato{
    padding-right: 0;
    max-width: 300px;
    width: 100%;
}
#linha{
    
    height: 1px;                
    background-color: #FFFFFF;  
    
    margin-top: 40px;           
    margin-left: 80px;          
    margin-right: 80px;         
    border: none;               
    clear: both;                
}
#digitalcollege{
    display: flex;
    color: #FFFFFF;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    #footer{
        width: 100%;
    }
    #superior{
        width: 100%;
    }
    #sup1 {
        width: 100%; 
        padding-left: 0;
       
    }
    #sup2 {
        width: 100%; 
        padding-left: 20px;
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #cardlogo, #redessociais {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin: 0;
    }
    #cardlogo img{
        padding-left: 20px;
        width: 60%;
    }
    #cardlogo p{
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        width: 70%;
        
    }
    #infogeral {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-start; 
        align-items: flex-start;
        padding-top: 0;
        width: 100%;
        gap: 20px;
    }
    #info, #categorias {
        
        padding-right: 0;
        min-width: 140px;
        flex: 1;          
    }
    #contato{
        padding-top: 20px;
        padding-right: 0;
        flex: 1;
        min-width: 200px;
        text-align: start;
        width: 100%;
    }
    #redessociais{
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        gap: 30px;
    }
    #infogeral h2{
        font-size: 20px;
    }
    #infogeral p{
        font-size: 18px;
        font-weight: lighter;
    }
    #linha{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}